@namespace TicTacToe.Components
@using TicTacToe.Logic
@inject AppState app

<h2 id="gameState">
    @if (tie)
    {
        <span>The game is a tie!</span>
    }
    else if (winner != '\0')
    {
        <span><span class="@winner">@winner</span> has won!</span>
    }
    else
    {
        <span>It is <span class="@currentPlayer">@currentPlayer</span>'s turn:</span>
    }
</h2>

<div id="gameBoard">
    @for (var i = 0; i < 9; i++)
    {
        int index = i;
        <div class="cell @GetCellClass(index)" id="@index" @onclick="() => HandleClick(index)">
            @if (board[i] != '\0')
            {
                @board[i]
            }
        </div>
    }
</div>

@code
{
    // Adds tags to a cells class to control visual logic
    string GetCellClass(int index)
    {
        List<string> classes = new();

        if (board[index] != '\0') classes.Add("occupied");
        if (board[index] == 'O') classes.Add("O");
        if (board[index] == 'X') classes.Add("X");
        if (gameOver || !interactable) classes.Add("no-hover");
        if (winningCells?.Contains(index) == true) classes.Add("winning");
        
        return string.Join(" ", classes);
    }
}